body{
    margin: 0;
    padding: 0;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: minmax(220px, 20%) minmax(300px, 80%);
    grid-template-rows: auto 25px;
}

aside{
    background-color: rgb(66, 24, 0);
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    border-right: 3px solid rgb(37, 9, 0);
}

aside #lista {
    position: fixed;
    width: auto;
    height: 80vh;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    flex-direction: column;
    margin-top: 50px;
}

aside #lista li {
    border: 2px solid rgb(32, 8, 0);
    background-color: rgb(177, 85, 0);
    width: 100%;
    height: 5%;
    margin: 0;
    padding: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-color: rgb(37, 9, 0);
    color: white;
    box-shadow: 5px 10px black;
}

aside #lista li:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    color: rgb(37, 9, 0);
}



#menu {
    width: 40px;
    height: 40px;
    align-self: flex-start;
    margin: 10px 0;
    background-color: rgb(177, 85, 0);
    border: 2px solid rgb(37, 9, 0);
    border-left: none;
    padding-left: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 5px 0 2px black;
}

#menu img:hover{
    background-color: rgb(255, 255, 255);
}

#menu img{
    width: 40px;
    cursor: pointer;
    height: 40px;
    padding-left: 15px;
    position: relative;
    right: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#tri {
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: rgb(177, 85, 0);
    border: 2px solid rgb(37, 9, 0);
    border-bottom: none;
    border-right: none;
    position: relative;
    bottom: 208px;
    left: 12px;
}

#listaMenu{
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(177, 85, 0);
    border: 2px solid rgb(37, 9, 0);
    width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    box-shadow: 10px 10px;
}

#listaMenu li {
    border: 1px solid rgb(37, 9, 0);
    border-left: none; 
    border-right: none; 
    width: 100%;
    cursor: pointer;
    font-size: 18.5px;
    text-align: center;
    padding: 5px 0;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

#listaMenu li:hover{
    background-color: white;
    color: rgb(37, 9, 0);
}

#listaMenu #l1{
    border-top: none;
}

#listaMenu #l5{
    border-bottom: none;
}



main{
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section{
    display: flex;
}

main section p {
    margin: 0;
    padding: 0;
}

main section h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

#perfil{
    align-items: center;
    background-color: rgb(105, 47, 0);
    width: 100%;
    padding: 20px 0;
    order: 0;
    color: white;
    border-bottom: 4px solid rgb(37, 9, 0);
}

#perfil img{
    width: 10vw;
    min-width: 80px;
    border: 2px solid rgb(37, 9, 0);
    border-radius: 100%;
    padding: 10px;
    margin-left: 40px;
}

#perfil div{
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 20px;
    flex-shrink: 100px;
    height: 50%;
    margin-left: 20px;
    justify-content: center;
}

#perfil div #nome{
    font-size: 3vw;
    margin: 0;
    text-wrap: nowrap;
}

#perfil div #desejo{
    font-size: 2vw;
    margin: 0;
    text-wrap: nowrap;
}

@media (max-width: 1070px){
    #perfil img{
        margin-left: 10px;
    }

    #perfil div #nome{
        font-size: 30px;
    }

    #perfil div #desejo{
        font-size: 20px;
}
}

@media (max-width: 520px){
    #perfil{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #perfil div{
        height: 60px;
        margin-left: 10px;
        align-items: center;
    }

    #perfil div #nome{
        font-size: 25px;
        margin: 0;
        text-wrap: nowrap;
    }

    #perfil div #desejo{
        font-size: 18px;
    }
}

@media (max-width: 320px){

    #perfil div{
        height: 60px;
        margin-left: 10px;
    }

    #perfil div #nome{
        font-size: 20px;
        margin: 0;
        text-wrap: nowrap;
    }

    #perfil div #desejo{
        font-size: 18px;
    }
}

@media (max-width: 300px){

    #perfil div #nome{
        font-size: 18px;
        margin: 0;
        text-wrap: nowrap;
    }

    #perfil div #desejo{
        font-size: 16px;
    }
}

.sobreMim{
    background-color:  rgb(172, 97, 0);
    border: 2px solid rgb(37, 9, 0);
    width: 80%;
    height: auto;
    align-items: center;
    flex-direction: column;
    display: none;
    order: 2;
    margin-top: 10%;
    margin-bottom: 30px;
    justify-self: center;
    padding: 50px 0;
    box-shadow: 10px 10px black;
}

#sobreMim{
    display: flex;
}

.sobreMim h2{
    font-size: 40px;
    margin-bottom: 30px;
    background-color: rgb(148, 59, 0);
    border: 3px solid rgb(255, 255, 255);
    color: white;
    padding: 10px;
}

.sobreMim p {
    width: 80%;
    font-size: 30px;
    font-family: sans-serif;
    text-align: justify;
}

#social{
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(120px, auto));
    grid-template-rows: repeat(auto-fit, auto);
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    width: 50%;
    height: auto;
    padding: 20px;
    background-color:  rgb(172, 97, 0);
    border: 3px solid rgb(37, 9, 0);
    box-shadow: 10px 10px black;
    margin-top: 18%;
    margin-bottom: 30px;
}

#social img{
    width: 100px;
    background-color:  rgb(172, 97, 0);
    border: 3px solid rgb(37, 9, 0);
    box-shadow: 10px 10px black;
    border-radius: 10px;
    margin: 15px;
}

#social img:hover{
    border: 3px solid rgb(37, 9, 0);
    background-color:  rgb(255, 255, 255);
}

@media (max-width: 320px){
    #social{
        width: 140px;
    }
}

#formacao {
    text-align: start;
}

#githubProjetos {
    flex-direction: column;
    margin-bottom: 30px;
    border: none;
    background-color: transparent;
    width: 100%;
    box-shadow: none;
    margin-top: 0;
}

#githubProjetos #projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-template-rows: repeat(auto-fit, auto);
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    gap: 15px 0;
    margin-top: 50px;
    justify-items: center;
}

#githubProjetos #projetos div{
    background-color: rgb(177, 85, 0);
    width: 320px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(37, 9, 0);
    box-shadow: 10px 10px black;
}

#githubProjetos #projetos div p {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

#githubProjetos #projetos div h3 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    color: white;
}

#githubProjetos #projetos div a {
    text-decoration: none;
    color:  rgb(37, 9, 0);
    background-color:  rgb(201, 80, 0);
    border: 1px solid rgb(37, 9, 0);
    padding: 5px;
}

#githubProjetos #projetos div a:hover {
    color: white;
    border-color: white;

}

@media (max-width: 369px){
    #githubProjetos #projetos{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    #githubProjetos #projetos div{
        width: 200px;
    }
}

@media (max-width: 1000px){
    .sobreMim h2{
        font-size: 5vw;
    }

    .sobreMim p {
        font-size: 3vw;
    }
}

@media (max-width: 635px){
    .sobreMim h2 {
        font-size: 30px;
    }

    .sobreMim p {
        font-size: 20px;
    }
}

@media (max-width: 360px){
    .sobreMim h2 {
        font-size: 8vw;
    }

    .sobreMim p {
        font-size: 6vw;
    }
}

@media (max-width: 250px){
    .sobreMim h2 {
        font-size: 25px;
    }

    .sobreMim p {
        font-size: 15px;
    }
}

footer{
    background-color: rgb(37, 9, 0);
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    font-size: 15px;
}

@media (max-width: 666px){
    body{
    grid-template-columns: 50% 50%;
    }
    main{
        grid-column: 1/3;
    }
    aside{
        display: none;
    }
    
}